*.o
*.obj
*.exe
*.a
macosx/eFTE.xcodeproj/project.xcworkspace/
macosx/eFTE.xcodeproj/xcuserdata/
macosx/build/
jni/.depend.mak
obj/*
jni/config.h
jni/defcfg.h
.notes.txt
nefte
bin2c
*.unc-backup~
*.unc-backup.md5~
